extends ../components/base/layout

block variables
	- const title = "KSD - Рециклинг" //- на страницах кроме главной используйте О нас — ProjectName
	- const wrapperMods = "wrapper--recycling"
	- const hasHeader = true
	- const headerMods = ""
	- const sectionClassMode = ""
	- const hasFooter = true
	- const footerMods = ""
	- const currentUrl = "recykling.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
	main
		//- на странице запрещен "голый" код
		//- все блоки вставляются из папки pug/components/blocks
		+hero-section("recycling")
		+partners()
		+techpark()
		+numbers()
		+services()
		+map()
		+technic-recycling()
		+blog-recycling()
		+contact-us("contact-us--recycling")
block modals
