extends ../components/base/layout

block variables
	- const title = "KSD - Вакансии" //- на страницах кроме главной используйте О нас — ProjectName
	- const wrapperMods = ""
	- const hasHeader = true
	- const headerMods = ""
	- const hasFooter = true
	- const footerMods = ""
	- const currentUrl = "vacancies.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
	main
		//- на странице запрещен "голый" код
		//- все блоки вставляются из папки pug/components/blocks
		+breadcrumbs("Главная", "Вакансии")
		+current-vacancies()
		+we-need()

block modals
