mixin blog-article()
	-
		const data = {
			title: "Блог",
			subtitle: "Вторичный щебень",
			author: "Автор: Марина Порошина",
			date: "21 Сентября 2021",
			articleTitle: "Источники получения",
			text1: "Для многих строителей стало естественным использовать в работе вторичный материал. Наиболее показательным примером есть вторичный щебень. Его получают в результате переработки строительных отходов от сносимых зданий или сооружений. В щебень из бетона перерабатывают не только отходы строительства, но и брак заводов ЖБИ, бетонные объекты ликвидируемых организаций и пр. В числе источников сырья для вторичного щебня используют и бетон с демонтируемых автомобильных дорог, сносимых мостов, с разбираемых аэродромов — плиты со взлетных и рулежных полос, блоки и плиты с бетонных ангаров, стояночных площадок и многое другое.",
			articleSubtitle1: "Исторические примеры использования строительного лома",
			text2: "В течение всей истории человеческой цивилизации обломки зданий, разрушенных в ходе военных действий, землетрясений или по другим причинам, почти всегда использовались в строительстве новых сооружений. Многие объекты пострадавших городов восстанавливались из камней и/или кирпичей, выбранных из развалин. Так, например, возрождались древний Карфаген и послевоенные Берлин, Киев, Сталинград, Минск, Кенигсберг (Калининград) и многие другие населенные пункты. Готовый камень или кирпич проще и дешевле извлечь из строительного мусора, чем произвести новый. Особенно после разрушительных войн и природных катастроф.",
			img: "blog-article-img-1",
			photoAuthor: "Фото Noah Buscher на Unsplash",
			articleSubtitle2: "Свойства и характеристики вторичного щебня",
			text3: "Свойства вторичного щебня определяются в основном свойствами того материала, из которого его получают. Производство ведется в соответствии с рекомендациями и требованиями, изложенными в действующем на территории России нормативном документе — ГОСТ 25 137-82.",
			text4: "Для выпуска этого полноценного строительного материала используются те же технологические приемы и то же дробильное оборудование, что и для щебня, добываемого в карьерах:",
			list1img: "blog-article-img-2",
			list1: [
				"щековые дробилки — раздавливают материал между прочными вертикальными пластинами, одна или обе из них подвижны, куски просыпаются вниз на грохоты или сита, служащие для разделения на фракции обломков дробления;",
			],
			list2img: [
				"конусные – в вертикальном прочном конусе по его внутренней поверхности прокатывается массивный конус меньшего размера. Дробимый материал загружается сверху в зазор между подвижным и неподвижным конусами, раздробленный ссыпается вниз конуса и высыпается через отверстие."
			],
			text5: "Есть еще дробилки роторные, молотковые, центробежные, валковые и другое.",
			text6: "После дробления смесь частиц разной величины поступает на классификацию или разделение по фракциям. Фракции нумеруются по максимальному размеру частицы.",
			list3: {
				title: "К основным характеристикам щебня относятся:",
				items: [
					"прочность на сжатие и дробимость — величина силы, разрушающей частицу щебня при сжатии, маркируется буквой М;",
					"средняя плотность — масса материала, заполнившего единицу объема;",
					"лещадность — степень плоскостности частицы;",
					"морозостойкость — количество циклов замерзания и оттаивания образца до начала разрушения, маркируется буквой F;",
					"радиоактивность — величина естественного излучения материала щебня.",
					"Разновидности этого вторичного сырья",
				],
			},
			articleSubtitle3: "Разновидности этого вторичного сырья",
			list4: {
				title: "Вторичный щебень имеет несколько разновидностей. Они зависят от вида исходного строительного лома:",
				items: [
					"бетонный щебень — продукт дробления бетона определенной марки по прочности и степени износа компонентов — цемента, щебня, песка, бывает щебень плотного и пористого бетона;",
					"кирпичный щебень разных видов — керамический, силикатный, огнеупорный и пр.;",
					"бутовый — гранитный, известняковый, базальтовый, песчаниковый и другое.",
				],
			},
			articleSubtitle4: "Применение вторичного щебня",
			text7: "Сфера применения вторичного щебня неразрывно связана с видом его первичного материала. Он может применяться при изготовлении новых полноценных ЖБИ в соответствии с его маркой по прочности. Возвращение строительного лома в круговорот строительных материалов называется рециклингом. Качество вторичного бетонного щебня должно подтверждаться сертификационными испытаниями.",
			list5: {
				title: "Не «марочный» бетонный щебень, «загрязненный», т. е. смешанный с кирпичной или асфальтовой крошкой, используют для:",
				items: [
					"строительства ленточных фундаментов с небольшой нагрузкой;",
					"отсыпки нижних слоев плитных монолитных оснований зданий;",
					"нижних слоев проселочных дорог;",
					
				],
			},
		}
	section.section.blog-article
		.container.blog-article__container
			.blog-article__cols
				.blog-article__col.blog-article__col--01
					.blog-article__heading 
						h2.title.title--h2.blog-article__title=data.title
						h3.title.title--h3.blog-article__subtitle=data.subtitle
				.blog-article__col.blog-article__col--02


