mixin current-vacancies()
	-
		const data = {
			title: "Вакансии",
			subtitle: "Работа в «Конструктив-СД»",
			text: "Работай с нами и стань лучше нас!",
			form: {
				input: {
					inputPlaceholder: "Поиск...",
					inputError: "Не менее 3 знаков!",
					inputId: "search-vacancies",
					inputName: "search-vacancies",
					inputMinLength: 3,
				},
				select: {
					placeholder: "Категория",
					name: "job-category",
					optionsList: [
						{
							value: "option-01",
							text: "Опция 01",
						},
						{
							value: "option-02",
							text: "Опция 02",
						},
						{
							value: "option-03",
							text: "Опция 03",
						},
						{
							value: "option-04",
							text: "Опция 04",
						},
					],
				},
				btn: {
					icon: "icon-chevron-right"
				},
			}
		}
	section.section.current-vacancies
		.container.current-vacancies__container 
			h2.title.title--h2.current-vacancies__title=data.title
			h3.title.title--h3.current-vacancies__subtitle=data.subtitle
			p.text.text--sm.current-vacancies__text=data.text
			.current-vacancies__form(data-validate data-callback="searchVacanciesForm")
				form.current-vacancies__form-form(action="#")
					+custom-input(data.form.input)(data-validate-type="text").current-vacancies__form-input
					+custom-select(data.form.select)(data-select).custom-select.current-vacancies__form-select
					button.btn.btn--orange.current-vacancies__form-submit(type="submit")
						+icon(data.form.btn.icon, 26, 26)