mixin map(mods)
	-
		const data = {
			title: "Карта",
			subtitle: "География обслуживания",
		}
	section.section.map(class="map--" + mods)
		.container.map__container
			.map__wrapper 
				h2.title.title--h2.map__title=data.title
				if !mods
					h3.title.title--h3.map__subtitle=data.subtitle
				.map__map#recycling-map
					iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A404158a0e384c3510381ac152bab6310fa2c23c0eddbadcce358b45f39151426&amp;source=constructor" width="1110" height="500")