mixin map()
	-
		const data = {
			title: "Карта",
			subtitle: "География обслуживания",
		}
	section.section.map
		.container.map__container
			h2.title.title--h2.map__title=data.title
			h3.title.title--h3.map__subtitle=data.subtitle
			.map__wrapper 
				.map__map