mixin rent-card-description()
	-
		const data = {
			title: "Описание",
			text: [
				"Volutpat elementum, leo eleifend dui. Elit dictumst at laoreet velit sed ornare scelerisque aliquam velit. Hendrerit tortor, magna aenean porttitor eu. Semper vel tincidunt pellentesque natoque volutpat integer leo quam. Consectetur neque sit non turpis ridiculus mi massa mattis adipiscing. Mi felis arcu aliquet tincidunt. Ut in dictum amet id sem interdum tempus porta. Blandit tempus, purus adipiscing elementum magna nisi adipiscing arcu. Tempor massa lectus velit mauris. Egestas nunc curabitur diam eget a.",

				"Pretium tortor consectetur id et. Eget nibh viverra mattis venenatis in eleifend. Id et elementum duis pretium amet habitant. Imperdiet enim sed consequat purus, enim. Nisi sed tellus orci commodo sodales platea sollicitudin vel. Sapien nibh erat pretium nisl diam ut.",
			],
		}

	section.section.rent-card-description 
		.container
			h2.title.title--h3.rent-card-description__title=data.title
			each item in data.text
				p.text.text--md.rent-card-description__text=item