mixin sale-hero()
	-
		const data = {
			title: "Строительные материалы от ведущих экспертов",
			subtitle: "Производство вторичных стройматериалов компанией «ООО Конструктив — СД»",
			pic: {
					src: "slides",
					img: "hero-bg-img-1",
					alt: "slide-img-1",
			},
			numbers: [
				{
					num: "1 час",
					text: "Срок до вывоза с момента отправки заявки",
				},
				{
					num: "100%",
					text: "Гарантия качества на материалы",
				},
			],
		}
	section.hero-section.hero-section--sale.sale-hero
		.container.hero-section__container
			.hero-section__col.hero-section__col--01
				.hero-section__heading 
					h1.title.title--h1.hero-section__title=data.title
						span.hero-section__subtitle=data.subtitle
				.hero-section__numbers
					each item in data.numbers
						.hero-section__numbers-item
							strong.hero-section__numbers-num=item.num 
							p.text.hero-section__numbers-text=item.text
		.hero-section__col.hero-section__col--02
			.hero-section__pic 
				+picture(data.pic.src, data.pic.img, "jpg", data.pic.alt)