mixin sale-goods-types()
	-
		const data = {
			items: [
				{
					href: "#",
					title: "Вторичный щебень",
					img: "scheben",
					alt: "Щебень",
				},
				{
					href: "#",
					title: "Бой кирпича",
					img: "kirpich",
					alt: "Красный кирпич",
				},
				{
					href: "#",
					title: "Ж/б конструкции",
					img: "zh-b-konstruktsii",
					alt: "Ж/б конструкции",
				},
				{
					href: "#",
					title: "Металлоконструкции",
					img: "metallo-konstruktsii",
					alt: "Металлоконструкции",
				},
			],
		}
	section.section.sale-goods-types
		.container.sale-hero__container
			ul.sale-goods-types__list
				each item in data.items
					li.sale-goods-types__list-item
						a.sale-goods-types__link(href=item.href)
							h2.title.sale-goods-types__link-title=item.title 
							+picture("content", item.img, "png", item.alt)
