mixin technologies()
	-
		const data = {
			title: "Технологии",
			items: [
				{					
				icon: "technologies-icon-1",
				num: "01",
				title: "Механизированный снос строений",
				text: "Facilisi risus viverra integer mi sagittis, aliquam nisl. Eget pellentesque orci quis amet.",
				},
				{					
				icon: "technologies-icon-2",
				num: "02",
				title: "Технология умного сноса строений",
				text: "Sodales nunc enim felis scelerisque nibh sed ornare egestas. Nulla donec eleifend.",
				},
				{					
				icon: "technologies-icon-3",
				num: "03",
				title: "Индивидуальная разработка сноса",
				text: "Donec est justo, donec nulla. Dolor ultricies elementum sit vulputate tristique quam.",
				},
				{					
				icon: "technologies-icon-4",
				num: "04",
				title: "Вторичное использование",
				text: "Elementum vulputate tempor proin nisl in faucibus mattis diam ipsum. Elit dignissim.",
				},
			],
		}
	section.section.technologies 
		.container.technologies__container
			.technologies__heading
				h2.title.title--h3=data.title 
			.technologies__items(data-accordion="parent" data-single)
				each item in data.items 
					.technologies__item(data-accordion="element")
						.technologies__item-row(data-accordion="button")
							+icon(item.icon, 60, 60).technologies__item-icon
							img(src="./img/content/icon-touch.png" alt="иконка тачскрин").technologies__item-acc-icon
							span.technologies__item-num=item.num
						.technologies__item-content(data-accordion="content")
							h3.title.technologies__item-title=item.title
							p.text.text--sm.technologies__item-text=item.text
