.hero {
	height: 648px;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: linear-gradient(0deg, rgba(27, 29, 40, 0.35), rgba(27, 29, 40, 0.35));
			z-index: 2;
		}
	}
	&__slider {
		height: 100%;
		&-item {
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: top;
			}
		}
	}
	.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 30px;
	}
	.swiper-horizontal > .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 14px;
		background-color: rgba($color-default-white, 0.6);
		// backdrop-filter: blur(7px);
		width: 12px;
		height: 12px;
		opacity: 1;
	}
	.swiper-horizontal > .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
		background-color: $color-default-white;
		box-shadow: 0 0 0 6px rgba($color-default-white, 0.5);
	}
	&__heading {
		padding: 70px 0 30px;
		text-align: center;
	}
	&__title {
	}
	&__subtitle {
		display: block;
		margin: 10px auto 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 200%;
		max-width: 770px;
	}
}
