.hero-section {
	height: 550px;
	position: relative;
	background-color: $color-bunting;
	&__col {
		&--01 {
			width: 100%;
			height: 100%;
		}
		&--02 {
			position: absolute;
			width: calc(50% - 15px);
			height: 100%;
			top: 0;
			left: auto;
			bottom: 0;
			right: 0;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.18%, rgba(0, 0, 0, 0.3) 100%),
					linear-gradient(0deg, rgba(45, 49, 66, 0.15), rgba(45, 49, 66, 0.15));
				z-index: 2;
			}
		}
	}
	&__slider {
		height: 100%;
		&-item {
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: top;
			}
		}
	}
	.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: 30px;
	}
	.swiper-horizontal > .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 14px;
		background-color: rgba($color-default-white, 0.6);
		// backdrop-filter: blur(7px);
		width: 12px;
		height: 12px;
		opacity: 1;
	}
	.swiper-horizontal > .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
		background-color: $color-default-white;
		box-shadow: 0 0 0 6px rgba($color-default-white, 0.5);
	}
	&__container {
		height: 100%;
	}
	&__heading {
		padding: 80px 0 80px;
		text-align: left;
		max-width: 570px;
		position: relative;
		z-index: 5;
	}
	&__title {
		font-size: 40px;
		line-height: 170%;
	}
	&__subtitle {
		display: block;
		margin: 30px 0 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 200%;
		color: rgba($color-default-white, 0.5);
	}
	&__numbers {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		position: relative;
		z-index: 5;
		max-width: 570px;
		&-item {
			position: relative;
			padding: 0 15px;
			&::after {
				content: "";
				position: absolute;
				top: 34px;
				left: 0;
				width: 100%;
				height: 80px;
				background-color: rgba($color-lavender, 0.05);
				z-index: -1;
			}
		}
		&-num {
			display: block;
			font-weight: 800;
			font-size: 56px;
			line-height: 68px;
			color: $color-outrageous-orange;
			margin: 0 0 11px;
			white-space: nowrap;
		}
		&-text {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: $color-default-white;
		}
	}
	&__pic {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			vertical-align: top;
		}
	}
	&--sale {
		margin: 0 0 40px;
		.hero-section {
			&__heading {
				padding: 80px 0 48px;
			}
			&__title {
				letter-spacing: -0.02em;
			}
			&__subtitle {
				margin: 15px 0 0;
			}
			&__numbers {
				grid-template-columns: repeat(2, 1fr);
				&-item {
					&::after {
						top: 40px;
						height: 111px;
					}
				}
				&-num {
					color: $color-apple;
					margin: 0 0 14px;
				}
			}
		}
	}
	&--road {
		.hero-section {
			&__heading {
				padding: 80px 0 62px;
			}
			&__title {
				line-height: 150%;
				letter-spacing: -0.018em;
			}
			&__numbers {
				grid-template-columns: repeat(2, 1fr);
				&-num {
					font-size: 50px;
					line-height: 61px;
					color: $color-cobalt;
					margin: 0 0 12px;
				}
			}
		}
	}
	&--recycling {
		.hero-section {
			&__numbers {
				&-num {
					color: $color-apple;
				}
				&-text {
					font-size: 12px;
					line-height: 15px;
					letter-spacing: -0.02em;
				}
			}
		}
	}
}
