.hero-section {
	height: 550px;
	position: relative;
	background-color: $color-bunting;
	&__col {
		&--01 {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			padding: 50px 0;
		}
		&--02 {
			position: absolute;
			width: calc(50% - 15px);
			height: 100%;
			top: 0;
			left: auto;
			bottom: 0;
			right: 0;
			z-index: 1;
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.18%, rgba(0, 0, 0, 0.3) 100%),
					linear-gradient(0deg, rgba(45, 49, 66, 0.15), rgba(45, 49, 66, 0.15));
				z-index: 2;
			}
		}
	}
	&__slider {
		height: 100%;
		&-item {
			width: 100%;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				vertical-align: top;
			}
		}
		&-pag {
			padding: 12px 65px;
			position: absolute;
			&.swiper-pagination-horizontal.swiper-pagination-bullets {
				text-align: left;
				bottom: 41px;
				.swiper-pagination-bullet {
					position: relative;
					opacity: 1;
					width: 10px;
					height: 10px;
					margin: 0 12px;
					background: none;
					background-color: rgba($color-default-white, 0.7);
					transition: background-color $trans-600;
					.progress-ring {
						color: $color-transparent;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(-90deg);
						&__circle {
							stroke-dasharray: 212px;
							stroke-dashoffset: 212px;
							// transition: stroke-dashoffset 5000ms linear;
						}
					}
					&-active {
						background-color: $color-default-white;
						.progress-ring {
							&__circle {
								transition: stroke-dashoffset 5000ms linear;
								stroke-dashoffset: 106px;
							}
						}
					}
				}
			}
		}
	}
	&__container {
		height: 100%;
	}
	&__heading {
		padding: 30px 0 80px;
		text-align: left;
		max-width: 570px;
		position: relative;
		z-index: 5;
	}
	&__title {
		font-size: 40px;
		line-height: 170%;
	}
	&__subtitle {
		display: block;
		margin: 30px 0 0;
		font-weight: 400;
		font-size: 20px;
		line-height: 200%;
		color: rgba($color-default-white, 0.5);
	}
	&__numbers {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		position: relative;
		z-index: 5;
		max-width: 570px;
		&-item {
			position: relative;
			padding: 0 15px;
			&::after {
				content: "";
				position: absolute;
				top: 34px;
				left: 0;
				width: 100%;
				height: 80px;
				background-color: rgba($color-lavender, 0.05);
				z-index: -1;
			}
		}
		&-num {
			display: block;
			font-weight: 800;
			font-size: 56px;
			line-height: 68px;
			color: $color-outrageous-orange;
			margin: 0 0 11px;
			white-space: nowrap;
		}
		&-text {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			color: $color-default-white;
		}
	}
	&__pic {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			vertical-align: top;
		}
	}
	&--sale {
		margin: 0 0 40px;
		.hero-section {
			&__heading {
				padding: 30px 0 48px;
			}
			&__title {
				letter-spacing: -0.02em;
			}
			&__subtitle {
				margin: 15px 0 0;
			}
			&__numbers {
				grid-template-columns: repeat(2, 1fr);
				&-item {
					&::after {
						top: 35px;
						height: 110px;
					}
				}
				&-num {
					color: $color-apple;
					margin: 0 0 14px;
				}
			}
		}
	}
	&--road {
		.hero-section {
			&__heading {
				padding: 30px 0 62px;
			}
			&__title {
				line-height: 150%;
				letter-spacing: -0.018em;
			}
			&__numbers {
				grid-template-columns: repeat(2, 1fr);
				&-num {
					font-size: 50px;
					line-height: 61px;
					color: $color-cobalt;
					margin: 0 0 12px;
				}
			}
		}
	}
	&--recycling {
		.hero-section {
			&__numbers {
				&-num {
					color: $color-apple;
				}
				&-text {
					font-size: 12px;
					line-height: 15px;
					letter-spacing: -0.02em;
				}
			}
		}
	}
	&--improvement,
	&--pits {
		.hero-section {
			&__numbers {
				&-item {
					padding: 0 5px 0 15px;
				}
				&-num {
					color: $color-cobalt;
				}
				&-text {
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;
					letter-spacing: -0.02em;
				}
			}
		}
	}
}
