.main-nav {
  flex-grow: 1;
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
  &__link {
    color: $color-bunting;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    text-transform: uppercase;
    &::after {
      background-color: $color-bunting;
    }
    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
