.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    padding: 40px;

    background-color: $color-default-white;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
  &--contact-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .contact-us {
      &__form {
        padding: 0 0 15px;
        &-fieldset {
          padding: 20px 15px 40px;
        }
        &-title {
          padding: 20px 0 0;
          width: 100%;
          text-align: left;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $color-bunting;
        }
        &-submit {
          width: 100%;
          justify-content: center;
          align-items: center;
          margin: 0;
        }
        &-field {
          &:not(:last-of-type) {
            margin: 0 0 20px;
          }
          &--message {
            margin: 0 0 30px;
          }
        }
      }
      &__agreement {
        margin: 0;
        padding: 0 15px;
        font-size: 12px;
        line-height: 180%;
        &-link {
          font-size: 12px;
          line-height: 180%;
        }
      }
    }
    &-road {
      .contact-us {
        &__agreement {
          &-link {
            color: $color-cobalt;
          }
        }
      }
    }
  }
  &--contact-us & {
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      background-color: $color-transparent;
      @include vp-767 {
        padding: 0;
      }
    }
    &__close-btn {
      top: 10px;
      right: 10px;
      svg {
        color: $color-navy-blue;
      }
    }
  }
  &--vehicle-card & {
    &__wrapper {
      @include vp-767 {
        padding: 0;
      }
    }
    &__content {
      padding: 60px 100px;
      border-radius: 20px;
      max-width: 1170px;
      width: 100%;
      @include vp-1279 {
        padding: 50px 70px;
      }
      @include vp-767 {
        padding: 20px 15px;
      }
    }
    &__close-btn {
      display: none;
      @include vp-767 {
        display: block;
        color: $color-navy-blue;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
