.partners {
	background-color: rgba($color-lavender, 0.3);
	&__slider {
		height: 120px;
		.swiper-wrapper {
			transition-timing-function: linear;
		}
		&-item {
			width: 170px;
			height: 120px;
			svg {
				path {
					transition: fill $trans-default;
				}
			}
			&:hover {
				svg {
					.path-hover {
						fill: $color-transparent;
					}
				}
			}
		}
		.swiper-slide {
			width: auto;
		}
	}
	&--demolition {
		margin: 0 0 30px;
	}
	&--pits,
	&--road {
		margin: 0;
	}
}
.wrapper {
	&--sale {
		.partners {
			margin: 60px 0 0 0;
		}
	}
}
