.partners {
	margin: 0 0 40px;
	background-color: rgba($color-lavender,0.3);
	&__slider {
		// width: 100%;
		// max-width: 1240px;
		height: 120px;
		.swiper-wrapper {
			transition-timing-function: linear;
		}
		&-item {
			width: 170px;
			height: 120px;
				svg {
					path {
						transition: fill $trans-default;
					}
				}
			&:hover {
				svg {
					.path-hover {
						fill: $color-transparent
					}
				}
			}
		}
		.swiper-slide {
			width: auto;
		}
	}
}
