.promo {
	width: 100%;
	height: 440px;
	margin: 90px 0 0;
	&__wrapper {
		display: flex;
		border-radius: 20px;
		background-color: $color-bunting;
		padding: 50px;
		position: relative;
		&::after {
			width: calc(100% - 485px);
			content: "";
			position: absolute;
			top: 0;
			left: auto;
			right: 0;
			bottom: 0;
			background-color: rgba($color-default-white, 0.1);
			clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);

		}
		&-col {
			&--01 {
				max-width: 435px;
			}
		}
	}
	&__title {
		color: $color-default-white;
		font-weight: 900;
		font-size: 34px;
		line-height: 56px;
		margin: 0 0 22px;
	}
	&__text {
		font-size: 18px;
		line-height: 24px;
		color: rgba($color-default-white, 0.5);
		margin: 0 0 50px;
	}
	&__btn {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		padding: 16px 48px;
		border-radius: 7px;
		margin: 0;
	}
	&__pic {
		img {
			position: absolute;
			right: 0;
			bottom: 30px;
			z-index: 1;
		}
	}
}
