.recycling {
	&__heading {
		margin: 0 0 30px;
		&__text {
			font-weight: 500;
			font-size: 16px;
			line-height: 200%;
			color: $color-waikawa-grey;
		}
	}
	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 200%;
		color: $color-waikawa-grey;
		max-width: 870px;
		&:not(:last-of-type) {
			margin: 0 0 30px;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		padding: 30px 0 20px;
		&-title {
			font-weight: 600;
			font-size: 18px;
			line-height: 200%;
			color: $color-bunting;
			margin: 50px 0 0;
		}
	}
	&__item {
		&-row {
			display: flex;
			align-items: center;
			margin: 0 0 10px;
		}
		&-icon {
			margin: 0 10px 0 0;
			color: $color-outrageous-orange;
		}
		&-title {
			font-weight: 700;
			font-size: 16px;
			line-height: 26px;
			color: $color-bunting;
			margin: 0;
		}
		&-text {
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: $color-waikawa-grey;
		}
	}
}
