.rent-catalog {
	padding: 20px 0 40px;
	&__title {
		margin: 0 0 20px;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		margin: 0 0 30px;
		border-radius: 5px;
		background-color: $color-ghost-white;
		&-quantity {
			flex-grow: 1;
			font-size: 14px;
			line-height: 23px;
			color: $color-waikawa-grey;
		}
		&-select {
			padding: 0;
			width: 100%;
			max-width: 220px;
			margin: 0 20px 0 0;
			flex-shrink: 0;
			.custom-select {
				&__button {
					border: 0;
				}
				&__list {
					bottom: 0;
					border-width: 1px;
					border-color: $color-blue-zodiac;
				}
				&__text,
				&__placeholder {
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
				}
				&__icon {
					width: 14px;
					height: 8px;
				}
			}
		}
		&-view-btns {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: $color-lavender;
			border-radius: 5px;
			width: 92px;
			height: 35px;
			padding: 2px;
		}
		&-btn {
			border-radius: 4px;
			width: 43px;
			height: 100%;
			background-color: $color-transparent;
			border: 0;
			outline: none;
			transition: background-color $trans-default;
			padding: 0;
			cursor: pointer;
			&.is-active {
				background-color: $color-default-white;
				span {
					border-color: $color-bunting;
				}
			}
			&--stripes {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				span {
					pointer-events: none;
					display: block;
					width: 16px;
					height: 2px;
					border: 1px solid $color-hawkes-blue;
					transition: border-color $trans-default;
					&:not(:last-of-type) {
						margin: 0 0 4px;
					}
				}
			}
			&--squares {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-column-gap: 2px;
				grid-row-gap: 2px;
				padding: 7px 12px;
				span {
					pointer-events: none;
					display: block;
					width: 8px;
					height: 8px;
					border: 2px solid $color-hawkes-blue;
					border-radius: 1px;
				}
			}
		}
	}
	&__wrapper {
		&-cols {
			display: grid;
			grid-template-columns: 270px 1fr;
			grid-column-gap: 30px;
		}
	}
}
