//- Base

include ./base/header
include ./base/footer
include ./base/footer-top
include ./base/footer-middle
include ./base/footer-bottom
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-contact-us

//- Blocks

include ./blocks/hero
include ./blocks/hero-section
include ./blocks/directions
include ./blocks/techpark
include ./blocks/about-company
include ./blocks/history
include ./blocks/numbers
include ./blocks/principles
include ./blocks/team
include ./blocks/career
include ./blocks/blog
include ./blocks/blog-road
include ./blocks/blog-recycling
include ./blocks/contact-us
include ./blocks/contact-us-road
//- include ./blocks/snos-hero
//- include ./blocks/hero-pits
include ./blocks/partners
include ./blocks/tech
include ./blocks/services
include ./blocks/technic
include ./blocks/technic-road
include ./blocks/technic-recycling
include ./blocks/projects
include ./blocks/our-science
include ./blocks/our-science-road
include ./blocks/projects-page
include ./blocks/project-hero
include ./blocks/technologies
include ./blocks/project-technic
include ./blocks/video
include ./blocks/gallery
include ./blocks/similar-projects
include ./blocks/our-history
include ./blocks/our-vision
include ./blocks/achievements
include ./blocks/recycling
include ./blocks/technic-and-methods
include ./blocks/reviews
include ./blocks/current-vacancies
include ./blocks/we-need
include ./blocks/work-with-us
include ./blocks/vacancies
include ./blocks/vacancy
include ./blocks/vehicle-park
include ./blocks/promo
include ./blocks/blog-page
include ./blocks/blog-article
include ./blocks/rent-hero
include ./blocks/rent-hero-desc
include ./blocks/rent-technic
include ./blocks/rent-selections
include ./blocks/rent-about-us
include ./blocks/rent-catalog
include ./blocks/rent-filter
include ./blocks/rent-catalog-items
include ./blocks/rent-card
include ./blocks/rent-card-description
include ./blocks/rent-card-characteristics
include ./blocks/rent-card-similar
include ./blocks/sale-hero
include ./blocks/sale-goods-types
include ./blocks/goods-popular
include ./blocks/delivery-calc
include ./blocks/sale-selections
include ./blocks/sale-about-us
include ./blocks/road-build-hero
//- include ./blocks/tech-road
include ./blocks/projects-road
include ./blocks/map
//- include ./blocks/hero-recycling

//- Mixins

include ./mixins/btn
include ./mixins/btn-to-top
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/breadcrumbs
