//- Base

include ./base/header
include ./base/footer
include ./base/footer-top
include ./base/footer-middle
include ./base/footer-bottom
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success

//- Blocks

include ./blocks/btn-to-top
include ./blocks/hero
include ./blocks/directions
include ./blocks/about-company
include ./blocks/history
include ./blocks/principles
include ./blocks/team
include ./blocks/career
include ./blocks/blog
include ./blocks/contact-us
include ./blocks/snos-hero
include ./blocks/partners
include ./blocks/tech
include ./blocks/technic
include ./blocks/projects
include ./blocks/our-science
include ./blocks/projects-page
include ./blocks/project-hero
include ./blocks/technologies
include ./blocks/project-technic
include ./blocks/video
include ./blocks/gallery
include ./blocks/similar-projects
include ./blocks/our-history
include ./blocks/our-vision
include ./blocks/achievements
include ./blocks/recycling

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
